
    <div class=" border rounded-lg p-3 shadow-md bg-white text-lg font-bold mb-2 text-[#2C384B] flex-shrink-0 border">
        <h2 class="text-xl font-bold text-center ">Program Outcomes </h2>
        
        <div>
            <div >
                <div class="p-1 border-spacing-0">
                    <div class="border rounded-lg p-5 shadow-md bg-white text-lg font-bold mb-2 text-[#2C384B] ">
                        <h2 >Decision Skill </h2>
                        <p class=" text-orange-400">Description </p>
                        <p> Application of tools & Tools Techniques relevant to managment theories and practice in analyzing & solving business issues</p>
                        <p>PEOs Mapped </p>
                        <p>PEO 5</p>
                      </div>


                  </div>

                  <div class="p-3">
                    <div class="border rounded-lg p-5 shadow-md bg-white text-lg font-bold mb-2 text-[#2C384B] ">
                        <h2 >Communication skill </h2>
                        <p class=" text-orange-400">Description </p>
                      </div>

                     <div class="border rounded-lg p-6  shadow-md bg-white text-lg font-bold mb-2 text-[#2C384B] border-collapse pl-2">
                        <h2 >Employability </h2>
                        <p class="text-orange-400 p-1">Description </p>
                         </div>
             </div>
        </div>
      </div>

  
 