<div class="border rounded-lg p-4 shadow-md">
    <h2 class="text-xl font-bold">Program Educational Objectives (PEOs)</h2>
    
  </div>
<div class="flex">
    
 <div class="p-3 ">
    <div class="border rounded-lg p-8  shadow-md bg-white text-lg font-bold mb-2 text-[#2C384B]">
        <h2 >All </h2>
      </div>
 </div>

<div class="p-3 ">
    <div class="border rounded-lg p-5 shadow-md bg-white text-lg font-bold mb-2 text-[#2C384B] ">
        <h2>PEO-1 </h2>
        <p class=" text-blue-500 text-lg font-bold mb-2 text-[#2C384B]"> Employability</p>
      </div>
</div>
  
<div class="p-3">
    <div>
        <div class="border rounded-lg p-5 shadow-md bg-white text-lg font-bold mb-2 text-[#2C384B] ">
            <h2>PE0-2 </h2>
            <p  class=" text-blue-500"> Entrepreneur</p>
          </div>
    </div>
</div>
  
 <div class="p-3">
    <div class="border rounded-lg p-5 shadow-md bg-white text-lg font-bold mb-2 text-[#2C384B] ">
        <h2>PEO-3 </h2>
        <p class=" text-blue-500">Research & Development     </p>
      </div>
 </div>
<div class="p-3">
    <div class="border rounded-lg p-5 shadow-md bg-white text-lg font-bold mb-2 text-[#2C384B] ">
        <h2>PEO-4 </h2>
        <p class=" text-blue-500">Contribution to business world  </p>
      </div>
</div>
<div class="p-3">
    <div class="border rounded-lg p-5 shadow-md bg-white text-lg font-bold mb-2 text-[#2C384B] ">
        <h2 >PEO-5 </h2>
        <p class=" text-blue-500">contribution to society </p>
      </div>
</div>
</div>